/* Color codes */
/* Purple: #8A2BE9; */
/* Green: #00C9BF; */
/* Light Green: #EFFAFA; */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.nav{
  color: white;
  background-color: black;
  padding: 20px;
  text-transform: uppercase;
}

.nav a {
  color: white;
  margin-left: 40px;
}

.nav .container {
  display: flex;
  justify-content: space-beteeen;
  align-items: center;
}

.header {
  background-image: url(images/header-bg.jpg);
  background-size: cover;
  color: white;
  padding: 20px;
  height: 600px;

  display: flex;
  align-items: center;
}

.container{
  width: 900px;
  margin:0 auto;
  border: 1px dashed red;
}

@media (max-width: 900px)
 .container {
   width: 90%;
   padding: 0 10px;
 }
}

.about{
  background-color: #EFFAFA;
  padding: 80px 0;
}
.about.container, .testimonials .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about h2{
  width: 33.33%;
  /* takes up 1/3 of the section */
}

.testimonials h2 {
  width: 50%;
}

@media (max-width:900px) {
  .about .container, .testimonials .container{
    flex-direction: column;
  }
}

.button{
  display: inline-flex;
  padding: 15px 30px;
  background-color: purple;
  color: white;
  text-decoration: none;
}

.portfolio{
  padding: 80px 0;
}

.portfolio-items{
  display: flex;
  justify-content: space-between;
}

.card{
  width: 32%;
}

card img {
  width: 100%;
}

.card{
  width: 32%;
}

@media (max-width:768px){
  .portfolio-items{
    flex-direction: column;
  }

.card{
  width: 100%;
  margin-bottom: 30px;
 }
}
.card h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.card p {
  margin-top: 0;
  margin-bottom: 24px;
}
.quote{
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.person{
  display: :flex;
  align-items: center;
  gap: 10px;
}


.navbar{
  background-color: blue;
}











